.app__wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  position: relative;
}

.app__container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.app__sidebar-container {
  margin-top: 90px;
  width: 7.5%;
  z-index: 99;
}

.app__container-content {
  margin-top: 80px;
  display: flex;
  width: 91%;
}

@media (max-width: 493px) {
  .container-content {
    width: 89%;
  }
}

@media (max-width: 393px) {
  .container-content {
    width: 85%;
  }
}
