@media (max-width: 768px) {
  .about-film {
    font-size: 22px;
  }
  .film-card__wrapper-description {
    height: 180px;
  }
  .film-card__wrapper-description h2 {
    font-size: 18px;
  }
  .film__description {
    font-size: 14px;
  }
  .comments-title {
    font-size: 18px;
  }
  .btn__container button {
    width: 140px;
    height: 40px;
  }
  .user-grade-open {
    width: 210%;
    height: 40px;
  }
  .user-grade-open img {
    width: 20px;
    height: 20px;
  }
  .user-grade-open span {
    width: 20px;
    height: 20px;
    font-size: 20px;
  }
  .rows div {
    font-size: 14px;
  }
  .comment__content {
    font-size: 14px;
  }
  .comment__author-avatar {
    align-self: start;
    width: 12%;
  }
  .recomendation__wrapper {
    font-size: 14px;
  }
  .item__year {
    top: 5px;
    left: 5px;
  }
  .film__add-comment-wrapper button {
    width: 30%;
  }
}

@media (max-width: 527px) {
  .trailer__container {
    width: 600px;
  }
  .trailer__container iframe {
  }
}

@media (max-width: 480px) {
  .film-page__wrapper {
    row-gap: 0px;
  }
  .film-card__info {
    flex-direction: column;
    height: 70%;
  }
  .film-card__slider {
    width: 100%;
    margin-top: 0px;
  }
  .film-card__about {
    width: 100%;
  }
  .btn__container {
    margin-top: 10px;
  }
  .trailer__container {
    /* height: 20%;
    display: flex;
    justify-content: center;
    align-items: center; */
  }
  .recomendation__wrapper {
    margin-top: 10px;
  }
  .item__wrapper {
    width: 33%;
  }
}

@media (max-width: 320px) {
  .film-card__wrapper-description {
    height: 20%;
  }
  .film-card__slider {
    width: 100%;
    height: 60%;
  }
  .slider-currentPhoto__container {
    width: 100%;
    height: 300px;
  }
  .currentPhoto {
    width: 100%;
    height: 100%;
  }
  .trailer__container {
    width: 280px;
    justify-content: center;
    align-items: center;
  }
  .trailer__container iframe{
    width: 280px;
  }
  .comment__author-avatar {
    align-self: center;
    padding: 5px 0px;
  }
  .comment__author {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
}
