.films__item {
  border-radius: 6px;
  flex-grow: 1;
  flex-basis: 250px;
  height: 650px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  margin: 5px;
  overflow: hidden;
  transition: 0.2s;
}

.films__item:hover {
  box-shadow: 0px 0px 4px 1px #232931;
}

.films__item:active {
  scale: 99%;
  transition: 0.2s;
}

.item__top-part {
  position: relative;
}

.img__layout {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  top: 0;
  bottom: 0;
  width: 100%;
  left: 0px;
  transform: translateX(-100%);
  background: #232931d6;
  transition: 0.6s;
  column-gap: 8px;
}

.img__layout button {
  width: 60%;
  height: 40px;
  border-radius: 14px;
  border: none;
  background: white;
  color: #52616B;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.img__layout button:hover {
  transform: scale(110%);
  transition: 0.3s;
}

.films__item:hover .img__layout {
  transform: translateX(0);
  transition: 0.6s;
}

.item__poster{
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.item__year {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 3px 10px;
  border-radius: 6px;
  color: white;
  font-weight: bold;
}

.item__down-part {
  width: 80%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  font-size: 14px;
  color: #52616B;
}

.item__main-info {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  height: 50%;
  font-size: 14px;
  border-bottom: 3px solid #dce1e6;
}

.item__genre {
  display: flex;
  flex-direction: row;
  column-gap: 7px;
}

.item__description {
  height: 50%;
}

.item__description span {
  font-weight: bold;
}


.item__description div {
  margin-top: 10px;
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.item__title {
  display: flex;
  column-gap: 5px;
}

.item__title .search__result {
  color: red;
}

.item__title span {
  font-weight: bold;
  color: #4ECCA3;
}

.films__item {
  text-decoration: none;
  outline: none;
}

.films__item:visited {
  text-decoration: none;
}

.films__item:active {
  color: black;
}

.search__result {
  font-weight: bold;
  color: #393E46;
}
